.DS_Store
**/.DS_Store
*.log
*.tmp
*.local
.env
.env.*

/bin/
/dist/
/.gocache/
/.vscode/
/gon2n
/gon2n.json
/gon2n*.json
/supernode.conf
/edge.conf

/desktop_gui/.cache/
/desktop_gui/.appdata/
/desktop_gui/.dart-local/
/desktop_gui/.dart_tool/
/desktop_gui/.flutter-plugins
/desktop_gui/.flutter-plugins-dependencies
/desktop_gui/.idea/
/desktop_gui/*.iml
/desktop_gui/build/
/desktop_gui/windows/flutter/ephemeral/
/desktop_gui/macos/Flutter/ephemeral/

/.tools/
/third_party/n2n/

/gon2n-test-game/
